<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="MH_DWEntities" connectionString="metadata=res://*/Data.PhysicianPortalDBModel.csdl|res://*/Data.PhysicianPortalDBModel.ssdl|res://*/Data.PhysicianPortalDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHAYANPC;initial catalog=MH_DW;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=PhysicianPortal.Core.Data.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="MH_DWEntities" connectionString="metadata=res://*/Data.PhysicianPortalDBModel.csdl|res://*/Data.PhysicianPortalDBModel.ssdl|res://*/Data.PhysicianPortalDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=MH_DW;persist security info=True;user id=sa;password=cancer123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MH_DWEntities" connectionString="metadata=res://*/Data.PhysicianPortalDBModel.csdl|res://*/Data.PhysicianPortalDBModel.ssdl|res://*/Data.PhysicianPortalDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
      data source=MHCPBI03;initial catalog=MH_DW;persist security info=True;user id=siraj;password=fossil2000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ORTFEntities" connectionString="metadata=res://*/Data.ORTF.ORTFModel.csdl|res://*/Data.ORTF.ORTFModel.ssdl|res://*/Data.ORTF.ORTFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ORTF;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>