@(Html.Kendo().Grid<PhysicianPortal.Core.Data.vwPharmacyNote>()
    .Name("gridPharmacyNotes")
    .Columns(columns =>
    {
        columns.Bound(c => c.NoteDate).Title("Note Date").Format("{0:MM/dd/yyyy}").Width(125);
        columns.Bound(c => c.NoteHeader).Title("Note Header");
        columns.Bound(c => c.Note).Title("Note");
    })
    .Selectable()
    .Sortable()
    //.Filterable()
    .Filterable(ftb => ftb.Mode(GridFilterMode.Row).Extra(true).Operators(o => o.ForString(s => s.Clear().Contains("Contains"))))
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        )
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("GetPharmacyNotes", "Notes", Model))
        .Sort(sort => sort.Add("NoteDate").Descending())
        .PageSize(10)
    )
    //.Events(e => e.Change("onPharmacyNotesChange"))
    .NoRecords(n => n.Template("No records to display"))
)

@* ShowPharmacyNotesInfo *@
<div id="notesKendoWindow" style="display: none;">
    <div class="msls-label" style="min-width: 30px; padding: 2px 0px 2px 0px;">
        <label>Header</label>
        <span id="NoteHeader">
            @*@Model.NoteHeader*@
        </span>
    </div>
    <div class="msls-label" style="min-width: 30px; padding: 2px 0px 2px 0px;">
        <label>Note Date</label>
        <span id="NoteDate">
            @*@Model.NoteDate*@
        </span>
    </div>
    <div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="display: inline-block;">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding0">
                <div class="msls-label" style="float: left; min-width: 30px; padding: 6px 10px 6px 0;">
                    <label>Full Name</label>
                    <span id="NoteFullName">
                        @*@Model.FullName*@
                    </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding0">
                <div class="msls-label" style="float: left; min-width: 30px; padding: 6px 10px 6px 0;" db>
                    <label>Staff Full Name</label>
                    <span id="NoteStaffFullName">
                        @*@Model.StaffFullName*@
                    </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding0">
                <div class="msls-label" style="float: left; min-width: 30px; padding: 6px 10px 6px 0;" db>
                    <label>Is Technician</label>
                    <span id="NoteIsTechnician">
                        @*@Model.IsTechnician*@
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="msls-label" style="min-width: 30px; padding: 2px 0px 2px 0px;">
        <label>Note</label>
    </div>
    <div style="padding:10px; border: 1px solid; display: inline-block;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="display: inline-block;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="display: inline-block;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                    <div class="msls-label" style="float: left; min-width: 30px; padding: 6px 0px 6px 0;">
                        <p id="NoteText">
                            @*@Model.Note*@
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 10px; text-align: center">
        @*<button type="button" onclick="getPreviousNote()" style="margin: 5px; width: 100px; height: 30px; padding: 5px">Previous</button>
            <button type="button" onclick="getNextNote()" style="margin: 5px; width: 100px; height: 30px; padding: 5px">Next</button>*@
        <button class="btn btn-primary" id="btnPrev" type="button" onclick="getPreviousNote()" style="margin: 5px; width: 100px; padding: 5px">Previous</button>
        <button class="btn btn-primary" id="btnNext" type="button" onclick="getNextNote()" style="margin: 5px; width: 100px; padding: 5px">Next</button>
    </div>
</div>

<script>
    var dataa;

    $(document).ready(function () {
        $("#gridPharmacyNotes").click(function (event) {

            var tempGrid1 = $("#gridPharmacyNotes").data("kendoGrid");
            dataa = tempGrid1.dataItem(tempGrid1.select());

        })

        $("#gridPharmacyNotes").on("dblclick", "tr.k-state-selected", function () {
            if (dataa != undefined) {
                getNotesDetailsView(dataa);
            }
        });
        $("#gridPharmacyNotes").on("doubletap", "tr.k-state-selected", function () {
            if (dataa != undefined) {
                getNotesDetailsView(dataa);
            }
        });

        $("#notesKendoWindow").kendoWindow({
            modal: true,
            width: "70%",
            height: "70%",
            maxWidth: 800,
            maxHeight: 600,
            minWidth: 300,
            minHeight: 300,
            title: "Pharmacy Notes",
            visible: false,
            actions: ["Close"],
            resizable: false,
            draggable: false,
            open: function (e) {
                $("body").css("overflow", "hidden");
            },
            close: function (e) {
                $("#gridPharmacyNotes").data("kendoGrid").clearSelection();
                $("body").css("overflow", "");
            },
            refresh: function () {
                //The following function resets the poosition of the kendo window on orientation change on tablets and mobiles
                $("#notesKendoWindow").bind("orientationchange", function (event) {
                    var x = document.activeElement;
                    if (x != undefined && x != null) {
                        x.blur();
                    }
                    $("#notesKendoWindow").data("kendoWindow").center();
                });
            }
        }).data("kendoWindow");

        $(".k-dropdown-operator").hide();

        //if (checkNextOrPreviosNote(-1) == false) {
        //    $("#btnPrev").prop('disabled', true);
        //}

        //if (checkNextOrPreviosNote(1) == false) {
        //    $("#btnNext").prop('disabled', true);
        //}
    });

    function getNotesDetailsView(arg) {
        @*$.ajax({
            url: '@Url.Action("ShowPharmacyNotesInfo", "SalesTeamNote")',
            data: { PharmacyNoteId: arg.PharmacyNoteId },
            cache: false,
            type: "POST",
            dataType: "html",
            beforeSend: function () {
                $("#loading-image").show();
            },
            success: function (data, textStatus, XMLHttpRequest) {
                if (data.hasOwnProperty("d")) {
                    data = data.d;
                }

                var dialog = $("#notesKendoWindow").data("kendoWindow");
                dialog.close();
                dialog.content(data);
                dialog.center();
                dialog.open();
            },
            error: function (xhr) {
                alert("An error occured: " + xhr.status + " " + xhr.statusText);
            }
        });*@

        if (arg != undefined) {
            $("#NoteHeader").text(arg.NoteHeader);
            $("#NoteDate").text(arg.NoteDate.toLocaleDateString());
            $("#NoteFullName").text(arg.FullName);
            $("#NoteStaffFullName").text(arg.StaffFullName);
            $("#NoteIsTechnician").text(arg.IsTechnician);
            $("#NoteText").text(arg.Note);

            var dialog = $("#notesKendoWindow").data("kendoWindow");
            dialog.close();
            dialog.center();
            dialog.open();

            checkNextOrPreviosNote(0);
        }
    }

    function loadNextOrPreviosNote(offset) {
        var tempGrid = $("#gridPharmacyNotes").data("kendoGrid");
        var dataRows = tempGrid.items();
        var rowIndex = dataRows.index(tempGrid.select());
        var data1 = dataRows[rowIndex + (offset)];
        tempGrid.select(data1);
        var newData = tempGrid.dataItem(data1);

        if (newData != undefined) {
            //getNotesDetailsView(newData);
            $("#NoteHeader").text(newData.NoteHeader);
            $("#NoteDate").text(newData.NoteDate.toLocaleDateString());
            $("#NoteFullName").text(newData.FullName);
            $("#NoteStaffFullName").text(newData.StaffFullName);
            $("#NoteIsTechnician").text(newData.IsTechnician);
            $("#NoteText").text(newData.Note);
        }
    }

    function checkNextOrPreviosNote(offset) {
        var tempGrid = $("#gridPharmacyNotes").data("kendoGrid");
        var dataRows = tempGrid.items();
        var rowIndex = dataRows.index(tempGrid.select());
        var data1 = dataRows[rowIndex + (offset)];
        //tempGrid.select(data1);

        //Edit by Ali
        if (rowIndex == 0) {
            $("#btnPrev").prop('disabled', true);
            $("#btnNext").prop('disabled', false);
        }
        else if (rowIndex == (dataRows.length - 1)) {
            $("#btnPrev").prop('disabled', false);
            $("#btnNext").prop('disabled', true);
        }
        else {
            $("#btnPrev").prop('disabled', false);
            $("#btnNext").prop('disabled', false);
        }


        if (data1 != undefined && data1.className != "k-no-data") {
            var newData = tempGrid.dataItem(data1);
            if (newData != undefined) {
                return true;
            }
            else {
                return false;
            }
        }
        return false;
    }

    function getPreviousNote() {
        loadNextOrPreviosNote(-1);
        if (checkNextOrPreviosNote(-1) == false) {
            //To Do
            //$("#btnPrev").prop('disabled', true);
            loadNextOrPreviosNote(-1);
        }
        $("#btnNext").prop('disabled', false);
        //loadNextOrPreviosNote(-1);
    }

    function getNextNote() {
        loadNextOrPreviosNote(1);
        if (checkNextOrPreviosNote(1) == false) {
            //To Do
            //$("#btnNext").prop('disabled', true);
            loadNextOrPreviosNote(1);
        }
        $("#btnPrev").prop('disabled', false);
        //loadNextOrPreviosNote(1);
    }
</script>

<style>
    #gridPharmacyNotes tbody tr:hover {
        cursor: pointer;
    }
</style>