<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MH_DWEntities" connectionString="metadata=res://*/Data.SalesTeamDbModel.csdl|res://*/Data.SalesTeamDbModel.ssdl|res://*/Data.SalesTeamDbModel.msl;   provider=System.Data.SqlClient; provider connection string=&quot; data source=n060bisql11.kroger.com,1675;initial catalog=KSP_DW;user id=sales_portal;password=@$ales#porta1@; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!-- In the COnnection string if you want to use the WIndows AD Account, then remove the User ID and Password and add "Integrated Security=True;" 
  and then specify the user login info in the identity of the IIS App Pool -->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AllowAllWindowsUsers" value="true" />
    <add key="FilledPDFPath" value="\\\\BIOCPR\\CPR7\\FilledPDF" />
    <!-- Temp folder path for the new PDF's after filling basic Physician Info -->
    <add key="PatientDocumentsUrl" value="https://cprfiles.kroger.com:8443/" />
    <add key="DocumentsServerUsername" value="s0060KSPSalesWebP" />
    <add key="DocumentsServerPassword" value="MlFGWHtPV8rldGzz2kDV1IamjEd" />
    <add key="RightFaxUrl" value="https://rightfax.ha.kroger.com/rightfax/api/" />
    <add key="RightFaxUsername" value="KSP_PORTAL_API" />
    <add key="RightFaxPassword" value="Kr0ger@3" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <authentication mode="Windows">
      <forms name="SalesTeamApp" />
    </authentication>
    <!--<sessionState timeout="1" />-->
    <membership defaultProvider="AspNetMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MH_DWEntities" applicationName="SalesTeamApp" />
      </providers>
    </membership>
    <roleManager enabled="True" defaultProvider="AspNetRoleProvider">
      <providers>
        <clear />
        <add name="AspNetRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="MH_DWEntities" applicationName="SalesTeamApp" />
      </providers>
    </roleManager>
    <profile enabled="True" defaultProvider="AspNetProfileProvider">
      <providers>
        <clear />
        <add name="AspNetProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="MH_DWEntities" applicationName="SalesTeamApp" />
      </providers>
      <properties>
        <add name="FullName" />
      </properties>
    </profile>
    <authorization>
      <deny users="?" />
    </authorization>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <!--<identity impersonate="true" /> -->
  </system.web>


  <system.diagnostics>
    <sources>
      <source name="gen" switchName="GeneralSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="dxListener" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="GeneralSwitch" value="4" />
    </switches>
    <sharedListeners>
      <add name="dxListener" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" location="custom" customlocation="C:\inetpub\AppLogs\Sales\" BaseFileName="Trace" MaxFileSize="500000000" logfilecreationschedule="daily" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="dxListener" />
      </listeners>
    </trace>
  </system.diagnostics>



  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' https://cdnjs.cloudflare.com 'unsafe-inline'; style-src 'self' https://maxcdn.bootstrapcdn.com 'unsafe-inline'" />-->
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block"></add>
        <add name="X-Frame-Options" value="DENY" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom">
      <error statusCode="403" subStatusCode="14" path="Error404.html" responseMode="File" />
      <error statusCode="404" subStatusCode="8" path="Error404.html" responseMode="File" />
    </httpErrors>
    <security>
      <authentication>
        <anonymousAuthentication enabled="false" />
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
    <httpRedirect enabled="false" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: 3A59502C-04AF-49EF-8ED2-3803113D218C-->