
@{
    ViewBag.Title = "TimedOut";
    //Layout = null;
}
<head>
    @Scripts.Render("~/bundles/jquery")
    <script language="JavaScript" type="text/javascript">
        window.history.forward();
    </script>
</head>

<h1>
    Your session has timed out
    <a type="button" class="btn btn-primary" href="@Url.RouteUrl("Default", ((Route)RouteTable.Routes["Default"]).Defaults)">Click here to Login</a>
</h1>


<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("ForceLogout", "Account", new { id = "-10129391"})',
            type: 'POST',
            username: "xyz123asdkjasd",
            password: "xyz123basdahsd",
            beforeSend: function () {
                $("#loading-image").show();
            },
            success: function () {
                alert('logged off');
            },
            error: function (xhr) {
                alert("Session timeout");
            }
        });
    });
</script>