@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "HIPAA";
}

<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row text-align-justify onePlacePush">
        <h2>
            Health Insurance Portability &amp; Accountability Act
        </h2>

        <div>
            @System.Web.Configuration.WebConfigurationManager.AppSettings["ClientName1"].ToString(), Inc. is committed to protecting your privacy. As a Healthcare provider, we know that your trust in us is of central importance. This policy discloses our information use and policies and procedures in detail. Please read it to learn more about the ways we protect the information we collect and to find out how you can limit the information about you that is shared. If @System.Web.Configuration.WebConfigurationManager.AppSettings["ClientName2"].ToString() should change its information practices, we will provide you notice of any material changes.
            <br>
            <br>
            <b>
                Strict Security Measures
            </b>
            <br>
            @System.Web.Configuration.WebConfigurationManager.AppSettings["ClientName2"].ToString() takes the security of information very seriously and has established security standards and procedures to prevent unauthorized access to patient information. We maintain physical, electronic and procedural safeguards to comply with federal standards to guard patient information.
            <br>
            <br>
            <b>
                Uses and Disclosures of Health Information
            </b>
            <br>
            We use health information about you for treatment, to obtain payment for treatment, for administrative purposes and to evaluate the quality of care you receive.
            <br>
            We may use or disclose identifiable health information about you without your authorization for public health purposes, for auditing purposes, or for reporting purposes to governing state agencies. In any other situation, we will ask for your written authorization to disclose information. You can later revoke that authorization to stop any further uses or disclosures. We may change our policies at any time. Before we make a significant change in our policies we will change our notice and send the new notice to you. You can also request a copy of our notice at any time. For more information about our privacy practices, contact the person listed below.
            <br>
            <br>
            <b>
                Individual Rights
            </b>
            <br>
            In most cases, you have the right to look at or get a copy of health information about you that we use to make decisions about your care. You also have the right to receive a list of instances where we have disclosed health information about you for reasons other than treatment, payment or related administrative purposes. If you believe that information in your record is incorrect or if important information is missing, you have the right to request that we correct or add the missing information.
            <br>
            You may request in writing that we not use or disclose your information for treatment payment and administrative purposes except when specifically authorized by you, when required by law or in emergencies. We will consider your request but are not legally required to accept it.
            <br>
            <br>
            <b>
                Complaints
            </b>
            <br>
            If you are concerned that we have violated your privacy rights or you disagree with a decision we made about access or correction to your record, you may contact the person listed below. You may also send a written complaint to the U.S. Department of Health and Human Services. The person listed below can provide you with the appropriate address upon request.
            <br>
            If you decide to contact the undersigned person with a complaint, or if you send a written complaint to the U. S. Department of Health and Human Services, you will not suffer any retaliation.
            <br>
            <br>
            <b>
                Our Legal Duty
            </b>
            <br>
            We are required by law to protect the privacy of your information, provide this notice of our information practices, and follow the information practices that are described in this notice.
            <br>
            If you have any questions or complaints, please contact @System.Web.Configuration.WebConfigurationManager.AppSettings["ClientName1"].ToString() at (888) 315-3395.
        </div>
    </div>
</div>