@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "Privacy Policy";
}

<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row onePlacePush">
        <h2>
            @System.Web.Configuration.WebConfigurationManager.AppSettings["ClientName2"].ToString() Portal Privacy Policy
        </h2>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="text-align-justify">
                <b>HIPAA</b><br>
                Personal Health Information (PHI) and HIPAA are covered separately. Please refer to our HIPAA statement here.

                <br><br>
                <b>Date of Policy: 7/30/2010</b><br>

                Your privacy is important to us. @System.Web.Configuration.WebConfigurationManager.AppSettings["ClientName2"].ToString() Healthcare is committed to undertaking reasonable measures to protect the privacy, accuracy and reliability of your personal information and to protect such information from loss, misuse, unauthorized access, disclosure, alteration and destruction. Please read the following description of our policies and practices regarding the collection and use or your personal information on our Web site.

                <br><br>
                As you will note below, our Privacy Policy is exhaustive and transparent particularly as compared to other websites.

                <br><br>
                If you have questions or concerns regarding this statement, please <a href="../secure/Contact.aspx">contact us</a>.


                <br><br>
                <b>Collection and Use of Personal Information</b><br>

                We collect personal information from users during registration such as name, last four of your Social Security Number, address, e-mail address, and phone number. In addition, if you choose to contact any of our customer service representatives via email, we may keep a record of that correspondence so that we may fully address the subject matter and contact you via email or telephone to resolve the matter.
                Personally Identifiable Information ("PII") will be used by our Web site for the purpose of providing you the opportunity to manage your @System.Web.Configuration.WebConfigurationManager.AppSettings["ClientName2"].ToString() account on our Web site and for providing you with information you have requested from us. <br><br>
                We may from time to time use your Personal Information to contact you about changes, enhancements or similar notices related to our services; these updates are limited to critical services.


                <br><br>
                <b>Disclosure of Personal Information </b><br>

                We will not sell or rent your Personal Information to anyone. We do not rent, sell, share, or trade your personally identifiable information to third parties. <br><br>
                We use cookies on our site. A cookie is a file written to your computer's hard drive that records certain technical information about your Internet usage, such as your IP address, browser type, or domain name. Also, if you submit personal information to our Web site (such as your name, interests, or preferences), we use cookies to keep track of such information so that you will not need to reenter this information during subsequent visits. These cookies are tied to PII. We also use cookies to customize delivery of our Web site content and advertisements. These cookies are not tied to PII. We use session and persistent cookies to track content and login. You may set your Internet browser preferences to notify you when you receive a cookie or decline acceptance of cookies. If you decline acceptance of cookies, however, you may experience less than optimal performance of our Web site.

                <br><br>
                <b>Log Files</b><br>

                Web servers serving our Web site may automatically collect information about which pages you visit, as well as your IP address or domain name. We use this information for our internal Web site business purposes, for example, to tailor our Web site content or to assess the
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="text-align-justify">
                amount of traffic to our Web site. We may also provide this information on an aggregated, anonymous basis to our marketing partners and/or advertisers. These log files are not tied to personally identifiable information. If you have any comments or questions about the information you have submitted on this Web site, including its accuracy or integrity, or if you wish to access and verify such information, you may <a href="../secure/Contact.aspx">contact us</a>.



                <br><br>
                <b>Communications from the Site</b><br>

                Based upon the personally identifiable information you provide us, we will send you a welcoming email to verify your username and password. We will also communicate with you in response to your inquiries, to provide the services you request, and to manage your account. We will communicate with you by email, SMS, and phone in accordance with your wishes.



                <br><br>
                <b>Testimonials</b><br>

                We use testimonials on our site from time to time. Please be aware that we seek permission to post all testimonials prior to posting and reference sources for any outside testimonials. All testimonials can be viewed by the general public. We will use your First Name and Last Initial when posting testimonials. In addition, if you would like your testimonial removed at any time, please <a href="../secure/Contact.aspx">contact us</a>.



                <br><br>
                <b>Choice/Opt-out</b><br>
                You may not opt-out of receiving critical service updates. If you have any questions, please <a href="../secure/Contact.aspx">contact us</a>.



                <br><br>
                <b>Security</b><br>
                We follow generally accepted industry best practices to protect the personal information submitted to us, both during transmission and once we receive it. We use 128-Bit and 256-Bit encryption technologies. We are also in compliance with HIPAA security guidelines and make every attempt to secure and protect personally identifiable information. If you have any questions about security on our Web site, please feel free to <a href="../secure/Contact.aspx">contact us</a>.



                <br><br>
                <b>Changes in this Privacy Statement</b><br>
                If we decide to make material changes to our privacy policy, we will post those changes to this privacy statement, the home page, and other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it.

                <br><br>
                We reserve the right to modify this privacy statement at any time, so please review it frequently. If we make material changes to this policy, we will notify you by email or by means of a notice on our home page.



                <br><br>
                <b>Legal Disclaimer</b><br>
                We reserve the right to disclose your personally identifiable information as required by law and when we believe that disclosure is necessary to protect our rights and/or to comply with a judicial proceeding, court order, or legal process served on our Web site.

                <br><br>
                Please <a href="../secure/Contact.aspx">contact us</a> if you have any questions or comments about our use of personal information.
            </div>
        </div>
    </div>
</div>