@*<div style="padding:10px;  border: 1px solid; height: 180px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="display: inline-block;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="display: inline-block;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">
                <div class="msls-label" style="float: left; min-width: 30px; padding: 6px 10px 6px 0;">
                    <label>Patient Name</label>
                    <span>
                        @Model.PatientName
                    </span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">
                <div class="msls-label" style="float: left; min-width: 30px; padding: 6px 10px 6px 0;" db>
                    <label>Physician Name</label>
                    <span>
                        @Model.PhysicianName
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0" style="display: inline-block;">
                <div class="msls-label" style="float: left; min-width: 30px; padding: 6px 10px 6px 0;">
                    <label>Drug Name</label>
                    <span>
                        @Model.DrugName
                    </span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">
                <div class="msls-label" style="float: left; min-width: 30px; padding: 6px 10px 6px 0;">
                    <label>Expiration Date</label>
                    <span>
                        @Model.ExpirationDate
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>*@
