<div>
    <label>Record Updated On</label>
    <label>@ViewBag.LatestDeliveryTime Pacific Time (PT)</label>
</div>

@(Html.Kendo().Grid<SalesTeam.Core.Data.vwPrescription>()
    .Name("gridPatientPrescription")
    .Columns(columns =>
    {
        columns.Bound(c => c.RxNumber).Title("Rx #");
        columns.Bound(c => c.RxDate).Width(60).Format("{0:MM/dd/yyyy}").Title("Rx Date");
        columns.Bound(c => c.FillNumber).Title("Fill #");
        columns.Bound(c => c.FillsAllowed).Title("Allowed");
        columns.Bound(c => c.FillsRemaining).Title("Remaining");
        columns.Bound(c => c.OrderItemName).Title("Name");
        columns.Bound(c => c.DaysSupplied).Title("Days Supplied");
        columns.Bound(c => c.OrderStatus).Title("Status");
        columns.Bound(c => c.LastOrderEvent).Title("Last Event");

    })
    .Selectable()
    .Sortable()
    //.Filterable()
    .Filterable(ftb => ftb.Mode(GridFilterMode.Row).Extra(true).Operators(o => o.ForString(s => s.Clear().Contains("Contains"))))
    .Pageable(pageable => pageable
        .Refresh(true))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("getPatientPrescriptionRecords", "SalesTeamPatient", Model))
        //.Sort(sort => sort.Add("CreateDate").Descending())
        .PageSize(10)
    )
    //.Events(e => e.Change("onPrescriptionChange"))
    .NoRecords(n => n.Template("No records to display"))
)

<script>
    var data;
    function onPrescriptionChange(arg) {
        var selected = $.map(this.select(), function (item) {
            data = arg.sender.dataItem(arg.sender.select());
        });
    }
    $(document).ready(function () {
        $("#gridPatientPrescription").click(function (event) {

            var tempGrid1 = $("#gridPatientPrescription").data("kendoGrid");
            data = tempGrid1.dataItem(tempGrid1.select());

        })

        $("#gridPatientPrescription").on("dblclick", "tr.k-state-selected", function () {
            if (data != undefined) {
                showPrescriptionPopup(data);
            }
        });
        $("#gridPatientPrescription").on("doubletap", "tr.k-state-selected", function () {
            if (data != undefined) {
                showPrescriptionPopup(data);
            }
        });

        $("#prescriptionKendoWindow").kendoWindow({
            modal: true,
            width: "70%",
            height: "70%",
            maxWidth: 800,
            maxHeight: 600,
            minWidth: 300,
            minHeight: 300,
            title: "Patient Prescriptions",
            visible: false,
            actions: ["Close"],
            resizable: false,
            draggable: false,
            open: function (e) {
                $("body").css("overflow", "hidden");
            },
            close: function (e) {
                $("#gridPatientPrescription").data("kendoGrid").clearSelection();
                $("body").css("overflow", "");
            }
        }).data("kendoWindow");

        $(".k-dropdown-operator").hide();
    });

    function showPrescriptionPopup(arg) {
        $.ajax({
            url: '@Url.Action("ShowPatientPrescriptionInfo", "ViewPatientDetails")',
            data: { PrescriptionID: arg.PrescriptionId },
            cache: false,
            type: "POST",
            dataType: "html",
            beforeSend: function () {
                $("#loading-image").show();
            },
            success: function (data, textStatus, XMLHttpRequest) {
                if (data.hasOwnProperty("d")) {
                    data = data.d;
                }

                var dialog = $("#prescriptionKendoWindow").data("kendoWindow");
                dialog.close();
                dialog.content(data);
                dialog.center();
                dialog.open();
            },
            error: function (xhr) {
                alert("An error occured: " + xhr.status + " " + xhr.statusText);
            }
        });
    }
</script>

<style>
    #gridPatientPrescription tbody tr:hover {
        cursor: pointer;
    }
</style>