@{
    //ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>*@
	
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body style="padding: 0px">
    <div class="login-backgroudImage">
    </div>
        <div id="loginContainer" class="loginPage">
            <br />
            <br />
            <div class="well" style="background-color: rgba(255, 255, 255, 0.7); margin-top:40%">
                @Html.AntiForgeryToken()
                <img src="~/Content/images/KrogerLogo.png" class="loginLogoImage" />
                <p class="text-center" style="color: #337ab7">SPECIALTY PHARMACY</p>
                <p class="text-center" style="color: #337ab7">EXPECT MORE FROM YOUR SPECIALTY PHARMACY</p>
                <h4 class="text-center">Email Sent</h4>
                <br />
                <br />

                <div class="form-group">
                    <p class="text-success">
                        Please check your email account to reset your password.
                    </p>
                </div>
            </div>
        </div>
</body>
</html>

<style>
    .validation-summary-errors ul {
        list-style: none;
        margin-left: -40px;
    }
</style>