@{
    Layout = null;
}
<div class="form-group login-padding30">
    <h4 class="text-center" style="color: #337ab7">Remember this browser?</h4>
    <label>If you save this browser, you won't have to enter a code when you log in from this browser again.</label>
</div>